# Don't include tests
*.test.js
test/

# Don't include git-related files
.gitignore
.git/
.github/

# Editor config files
.vscode/
.idea/

# Dev config
jest.config.js
tsconfig.json

# Docs and metadata
README.md
LICENSE
